.container-info {
  max-width: 1200px;
  margin: 1.5rem auto;
  gap: 2rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 18%;
  background-color: white;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.info-left {
  width: 1100px;
  margin-left: 0;
}
.titulo-info {
  align-self: start;
  font-size: 1.8rem;
  margin-top: -1.3rem;
  padding-left: 1rem;
}

.info-top {
  color: grey;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-top: -1rem;
  justify-content: space-between;
}
.contenedor-avatar-tutor {
  display: flex;
  align-items: center;
}
.avatar-info img {
  border-radius: 50%;
  width: 70px;
  justify-self: right;
}

.tutor-info {
  display: block;
  margin-left: 1rem;
}
.tutor-info span {
  font-size: 1.5rem;
  margin-top: 0.5.rem;
}
.tutor-info p {
  font-size: 1.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  font-weight: 600;
  color: rgb(101, 101, 101);
}

.linea-horizontal-info {
  border: 0.1px solid rgb(168, 168, 168);
  height: 40px;
}

.categoria-info {
  display: block;
}

.categoria-info span {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.categoria-info p {
  font-size: 1.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 600;
  color: rgb(101, 101, 101);
}

.valoracion-info {
  display: block;
  text-align: center;
}

.valoracion-info span {
  font-size: 1.5rem;
}
.amarilla-info {
  font-size: 1.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  text-align: right;
  color: rgb(248, 203, 1);
}
/*Contendedor Derecho*/

.info-right {
  border: solid 1px rgb(180, 180, 180);
  width: 300px;
  display: flex;
  flex-direction: row;
}

.imagen-curso-info img {
  display: block;
  margin-left: 1.8rem;
  margin-right: 1rem;
  object-fit: cover;
  width: 96.5%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.imagen-borde {
  border: solid 1px rgb(180, 180, 180);
  margin-top: 1rem;
}

.precio-curso-info {
  color: grey;
  font-size: 2.5rem;
  font-weight: 800;
}
.precio-curso-gratis-info {
  color: grey;
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration-line: line-through;
}

.nivel-info {
  display: block;
  margin-left: 1rem;
}
.nivel-info span {
  font-size: 1.5rem;
  margin-top: 0.5.rem;
}
.nivel-info p {
  font-size: 1.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  font-weight: 600;
}

.valoracion-info span {
  font-size: 1.5rem;
}

.gratis-info {
  background-color: rgb(255, 186, 58);
  width: 60px;
  height: 20px;
  border-radius: 3px;
  padding: 1rem;
}

.gratis-info span {
  color: rgb(252, 252, 252);
  padding: auto;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.gratis-info p {
  font-size: 1.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 600;
}

.tabs {
  margin-top: 2rem;
}
.react-tabs__tab {
  font-size: 1.5rem;
  color: gray;
}

.tab-informacion {
  display: flex;
}

.tab-informacion p,
li {
  color: gray;
  font-size: 1.6rem;
  line-height: 180%;
  padding-left: 1rem;
}
.tab-informacion h1 {
  font-size: 1.8rem;
}

.datos-curso {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  padding-left: 2rem;
  line-height: 1rem;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}

.desc-cert-salid {
  padding-left: 1rem;
  padding-right: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.ultimos-cursos {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(94, 94, 94);
  text-align: center;
}
