.pagina-cursos {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 25%;
}

.filtros form {
  background-color: white;
  width: 155px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.4;
}
.filtros form p {
  font-weight: 800;
  width: 155px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contenido-cursos {
  width: 850px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.checked {
  color: #ffd600;
}

.unchecked {
  color: #9e9e9e;
}

@media screen and (min-width: 480px) {
  .contenido-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .entrada {
    flex: 0 1 calc(50% - 1rem);
  }
}

@media screen and (min-width: 768px) {
  .entrada {
    flex: 0 1 calc(33% - 1.5rem);
  }
}



.entrada {
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
  height: fit-content;

}


.avatar-curso img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 40%;
  height: 40%;
  object-fit: contain;
  border-radius: 50%;
  margin-top: -6rem;
  position: static;
  z-index: 1;
}

.tutor-curso {
  font-size: smaller;
  color: rgb(136, 136, 136);
  text-align: center;
}

.precio-curso {
  color: grey;
  font-size: 1.9rem;
}
.precio-curso-gratis {
  color: grey;
  font-size: 1.9rem;
  text-decoration-line: line-through;
}

.titulo-curso {
  color: rgb(87, 87, 87);
  font-size: small;
  text-align: center;
}

.linea-horizontal {
  margin: 0.5rem;
  border: 1px solid rgb(168, 168, 168);
}

.amarilla {
  color: rgb(248, 203, 1);
}

.fa-users {
  display: inline-block;
  font-size: large;
}

.far {
  color: rgb(248, 203, 1);
}

.vistas-comentarios-precios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 1rem;
}

.pagina-cursos p {
  font-size: 1.7rem;
}

.gratis {
  background-color: rgb(255, 186, 58);
  width: 60px;
  height: 20px;
  border-radius: 3px;
  position: absolute;
  z-index: 3;
  top: 2.5%;
  right: 3.5%;
  padding: 1rem;
}

.gratis span {
  color: rgb(252, 252, 252);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
.boton-aplicar-filtros {
  background-color: rgb(149, 186, 255);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;

  border-radius: 0.3rem;
}

.boton-aplicar-filtros:hover {
  background-color: #0f6ad7;
  opacity: 1;
}

.boton-quitar-filtros {
  background-color: transparent;
  text-align: center;
  background-color: #ffa1a1;
  border-radius: 0.3rem;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 100%;
  font-size: 1.2rem;
  padding: 0;
}

.boton-quitar-filtros:hover {
  background-color: #f55454;
  opacity: 1;
}

.filtros-top {
  background-color: #0f6ad7;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);

  margin-bottom: 2rem;
  padding: 0.2rem;
}

.ordenar-por select {
  height: 30px;
  border-radius: 6px;
  align-self: flex-start;
  color: rgb(61, 61, 61);
}
.ordenar-por p {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
  color: rgb(240, 240, 240);
  align-self: flex-start;
  border-style: none;
  font-size: 1.5rem;
}

.nivel-valoracion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nivel p {
  color: rgb(208, 208, 208);
  text-align: center;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  margin: 0;
}

.valoracion-curso {
  margin-right: 0.3rem;
  text-align: right;
}

.info-right {
  display: flex;
  flex-direction: row;
  max-width: 200px;
}

/* CURSOLANDING */

.entrada-cursos-landing {
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
  height: fit-content;

}

.contenido-cursos-landing {
  width: 1100px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  column-gap: 3rem;
  row-gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .contenido-cursos-landing {
    display: flex;
    flex-wrap: wrap;
  }
  .entrada-cursos-landing {
    flex: 0 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 768px) {
  .entrada-cursos-landing {
    flex: 0 1 calc(26% - 2rem);
  }
}

/*ALERTA*/

.container-alerta-resultados {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  margin: 20% auto;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #e77f84;
  border-radius: 2px;
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  opacity: 0.8;
  width: 500px;
  height: 300px;
  text-align: left;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.container-alerta-resultados p {
  margin-left: 1rem;
  margin-top: -12px;
  padding: 0;
}

.fa-exclamation-circle {
  text-align: left;
  font-size: 4rem;

  margin-left: 1rem;
  margin-top: 1rem;
}
