.contenedor-contacto {
  font-size: 1.5rem;
  background-color: #0f6ad7;
  margin-top: auto;
  width: 900px;
  top: -20%;
  left: 25%;
  height: 100px;
  display: flex;
  text-align: center;
  column-gap: 8rem;
  justify-content: center;
  position: absolute;
  z-index: 2;
  color: aliceblue;
  overflow: hidden;
}
.contacto-footer {
  display: flex;
  flex-direction: column;
}

.iconos-contacto {
  width: 20px;
  height: 20px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  margin: 7px auto;
}
.iconos-contacto-horario {
  width: 20px;
  height: 20px;
  padding: 8px;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);

  margin: 13px auto 18px;
}
.horario {
  margin-top: -12px;
}
