
.footer-contenedor {
  position: absolute;
  height: 210px;
  width: 100%;
  display: flex;
  bottom: 0;

  background-color: rgb(0, 0, 0);
  margin-top: 50px;
}

.redes-nav-sertutor {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 5px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  align-self: flex-end;
  margin-top: 50px;
}

.link-menu-footer {
  text-align: center;
  color: rgb(125, 125, 125);
  font-size: 1.4rem;
  margin-right: 5rem;
}

.link-menu-footer:hover {
  color: rgb(224, 224, 224);
}

.link-menu-sertutor {
  color: rgb(203, 203, 203);
  font-size: 1.6rem;
  font-weight: 800;
  padding-left: 20px;
}

.link-menu-sertutor:hover {
  color: khaki;
}

.link-terminos-condiciones {
  color: rgb(125, 125, 125);
  font-size: 1.4rem;
  padding-right: 100px;
  position: relative;
  align-self: flex-start;
}

.link-terminos-condiciones:hover {
  color: rgb(224, 224, 224);
}
.logo-footer {
  font-size: 3rem;
  margin: 0 5.5rem 2rem;
  color: rgb(122, 122, 122);
}

.nav-sertutor {
  display: flex;
  flex-direction: column;
}

.link-copyright {
  margin-top: 65px;
  margin-left: 10px;
  color: rgb(101, 101, 101);
  position: absolute;
}
.link-copyright p {
  margin-left: -1.5rem;
}
