.contenedor-redesociales {
  color: white;
  display: flex;
  column-gap: 1rem;
  margin-left: 5rem;
}
.redes-links {
  color: white;
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 10px;
  background: #0f6ad7;
  color: rgb(255, 255, 255);
  text-align: center;
  font: 15px Arial, sans-serif;
}
