:root {
  --fontTexto: 'Raleway', sans-serif;

  /** Colores **/
  --azul: #00487c;
  --rojo: #a01c48;
  --naranja: #f58549;
  --amarillo: #eca400;
  --verde: rgb(20, 131, 20);

  /** gris **/
  --gris: #969696;
  --grisOscuro: #555555;
  --grisClaro: rgb(245, 244, 244);
}
body {
  background-color: var(--grisClaro);
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--fontTexto);
}
/*body::-webkit-scrollbar {
  display: none; 
  }*/

html {
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

/** GLOBALES **/
h1 {
  font-family: var(--fontHeading);
  color: var(--grisOscuro);
}
h2 {
  font-family: var(--fontTexto);
  color: var(--grisOscuro);
  font-size: 3rem;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

/*Barra LOGINBAR*/

.loginbar {
  display: flex;
  justify-content: flex-end;
  background-color: #0f6ad7;
  padding-right: 2.5rem;
}
.loginbar2 {
  display: flex;
  height: 57px;
  background-color: #0f6ad7;
}
.linea-vertical {
  margin: 1rem;
  width: 0.1rem;
  background-color: rgb(239, 239, 239);
  float: left;
}
.login-registro-link {
  color: white;
  padding: 1.5rem;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.login-registro-link:hover {
  color: #0f6ad7;
  background-color: #ffffff;
  border-radius: 0.3rem;
  transition: all 0.2s ease-out;
}

.menu-logo {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.logo-titulo {
  margin-left: 5rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.link-menu {
  margin: 1rem;
  padding: 2rem;
  font-size: 1.5rem;
  font-family: var(--fontTexto);
  color: var(--grisOscuro);
}

.link-menu:hover {
  color: white;
  background-color: #0f6ad7;
  border-radius: 0.3rem;
  transition: all 0.2s ease-out;
}

.botones-perfil {
  display: flex;
  list-style: none;
}

/*MAIN*/

.contenido-principal {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

/*BOTONOES*/

.btn {
  padding: 1.5rem;
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  font-family: var(--fontTexto);
  border: none;
  height: 100%;
  flex: 0 0 100%;
}

.btn:hover {
  cursor: pointer;
}

.btn-azul {
  background-color: var(--azul);
}
.btn-rojo {
  background-color: var(--rojo);
}
.btn-naranja {
  background-color: var(--naranja);
}
.btn-amarillo {
  background-color: var(--amarillo);
}
.btn-verde {
  background-color: var(--verde);
}
.btn:disabled {
  opacity: 0.4;
}

.btn-eliminar {
  margin-top: 1rem;
  font-family: 'Font Awesome 5 Free', Arial, Helvetica, sans-serif;
  font-weight: 900;
}

/* Formulario */

/*LOGIN*/

.login {
  max-width: 520px;
  margin: 15rem auto 0 auto;
  padding: 4rem 2rem;
  /*background-color: var(--grisClaro);*/
  border-radius: 1.5rem;
  background-color: coral;
}

.login h2 {
  text-align: left;
}
.avatar-vertical {
  width: 75px;
  height: 55px;
  margin-right: 8rem;
  list-style: none;
}
.avatar-vertical img {
  border-radius: 50%;
  align-self: center;
  margin-top: -0.3rem;
}

.menu-vertical {
  position: absolute;
  right: 6.6rem;
  top: 8.7rem;
  animation-name: opacidad;
  animation-duration: 0.5s;
  list-style: none;
}
@keyframes opacidad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.perfil-cerrarsesion {
  color: rgb(0, 0, 0);
  text-align: center;
  width: 70px;
  display: block;
  padding: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;

  background-color: #e1e5e9;
}
.perfil-cerrarsesion:hover {
  color: #ffffff;
  background-color: #d6d6d6;
  transition: all 0.2s ease-out;
}
