
.container-login input[type='text'],
input[type='password'] {
  width: 100%;
  border-radius: 0.3rem;
  padding: 12px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.container-login input[type='password'] {
  width: 100%;
  border-radius: 0.3rem;
  padding: 12px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.container-login {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  margin: 5% auto 10%;
  width: 600px;
  height: 350px;
  text-align: left;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.container form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.fontuser {
  position: relative;
}
.fontuser i {
  position: absolute;
  left: 15px;
  top: 22px;
  color: rgb(180, 180, 180);
}
.fa-eye:before {
  position: relative;
  left: 31rem;
  color: rgb(180, 180, 180);
}
.fa-eye-slash:before {
  position: relative;
  left: 31rem;
  color: rgb(180, 180, 180);
}

.fontemail {
  position: relative;
}
.fontemail i {
  position: absolute;
  left: 15px;
  top: 22px;
  color: rgb(180, 180, 180);
}

.fontpassword {
  position: relative;
}

.fontpassword i {
  position: absolute;
  left: 15px;
  top: 22px;
  color: rgb(180, 180, 180);
}
.titulo-form {
  font-family: var(--fontTexto);
  color: var(--grisOscuro);
  margin-bottom: 0.7rem;
  font-weight: 700;
  text-align: center;
}

.boton-iniciar-sesion {
  font-size: 1.5rem;
  background-color: #4caf50;
  border-radius: 0.3rem;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.boton-iniciar-sesion:hover {
  opacity: 0.8;
}

.checkbok-login {
  font-size: 1.3rem;
  color: #3e3e3e;
}

/*ALERTA*/

.container-alerta-login {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  top: 19.7%;
  left: 40.5%;
  text-align: center;
  background-color: #e77f84;
  position: absolute;
  border-radius: 2px;
  animation: 0.2s fadeIn;
  animation-fill-mode: forwards;
  opacity: 0.8;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.fa-window-close::before {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10%;
  left: 94%;
  cursor: pointer;
}

/*MODAL*/
.creado {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cambios {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cambios h1 {
  margin-top: 19px;
  font-size: 2rem;;
}
.fa-check-circle {
  font-size: 6rem;
  color: #4caf50;
}
.creado h1 {
  margin-top: 19px;
  font-size: 2rem;
}

.boton-modal {
  background-color: #0f6ad7;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 17px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

