.contenedor-landing {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.contenedor-banner {
  background-color: coral;
  margin: 0 auto;
  width: 1100px;
  height: 300px;
  z-index: 1;
}

.contenedor-banner img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.gradiente {
  width: 1000px;
  height: 300px;
  position: absolute;
  background-size: cover;
  z-index: 3;
  background-image: linear-gradient(to right, rgb(5, 5, 5), rgba(255, 0, 0, 0));
  opacity: 0.7;
}

.info-banner {
  width: 350px;
  margin-left: 5rem;
  margin-top: 8rem;
  color: white;
  position: absolute;
  z-index: 4;
}

.info-banner h1 {
  color: white;
  position: relative;
  font-size: 4rem;
  z-index: 4;
}
.info-banner p {
  position: relative;
  z-index: 4;
}

.publi-1 {
  width: 70%;
  margin: 8rem auto;
  font-weight: 500;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 6rem;
}

.block-1 {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  display: flex;
  padding: 0;
  gap: 30%;
  justify-content: center;
}
.block-2 {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  gap: 1%;
  justify-content: center;
  overflow: hidden;
}

.img-2 {
  width: 150px;
  height: 250px;
  object-fit: cover;
  transform: scale(1.6);
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.img-3 {
  width: 150px;
  height: 250px;
  object-fit: cover;
  margin-top: 3rem;
  transform: scale(1.8);
}

.text-a {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 3rem;
  text-justify: inter-word;
}
.text-1 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 0;
  align-self: center;
  text-justify: inter-word;
}
.text-2 {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: grey;
  text-justify: inter-word;
}

.text-b {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 8rem;
}
.text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 0;
  text-justify: inter-word;
}
.text-4 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: grey;
  text-justify: inter-word;
}

.banner-frase {
  margin: 8rem auto 8%;
  height: 150px;
  width: 1100px;
  background-color: #0f6ad7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frase-texto {
  width: 60%;
  color: white;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: lighter;
  text-align: center;
}
.frase-autor {
  color: white;
  font-size: 2rem;
  text-align: right;
  font-weight: lighter;
  font-style: italic;
  padding-right: 3rem;
  font-family: roboto;
}

/*CURSOS*/

.contenedor-cursos-landing {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contenido-cursos {
  margin: 0 auto;
}

.ver-cursos {
  background-color: #0f6ad7;
  border-radius: 0.3rem;
  color: white;
  margin: 4rem auto;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.confian-nosotros {
  padding-top: 1.5rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: rgb(235, 235, 235);
  text-align: center;
}

.logo {
  transform: scale(0.75);
}

.banner-confian-logos {
  background-color: #0f6ad7;
  height: 170px;
  width: 1100px;
  margin: 8% auto 11%;
}

.banner-logos {
  margin: -2.2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TUTORES */

.contenedor-tutores-landing {
  /*background-color: #0f6ad7;*/
  width: 1100px;
  height: 530px;
  display: flex;
  flex-direction: column;
  margin: 10rem auto 1rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.contenedor-tutores-landing ul {
  /*background-color: #0f6ad7;*/
  display: flex;
  width: 1100px;
  height: 500px;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
  margin: -1rem auto;
  align-self: center;
  padding: 0;
}

.ver-tutores {
  background-color: #0f6ad7;
  border-radius: 0.3rem;
  color: white;
  margin: 1rem auto;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*Banner*/

.banner-frase-2 {
  margin: 5% auto 8%;
  height: 150px;
  width: 1100px;
  /*background-color:  rgb(255, 186, 58);*/
  background-color: #0f6ad7;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.frase-texto-2 {
  color: white;
  font-size: 4.5rem;
  text-align: center;
  line-height: 5px;
  margin-top: 3rem;
}
.frase-texto-2 p {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
}

.ultimos-cursos-landing {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgb(94, 94, 94);
  text-align: center;
  margin-bottom: 12px;
}
.ultimos-tutores-landing {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgb(94, 94, 94);
  text-align: center;
  margin-bottom: -2rem;
}

/*Testimonial*/
.contenedor-testimonial {
  
  width: 800px;
  margin: 0 auto 35%;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 5em;
}

.img-testimonial-front {
  background-image: url(../../images/imagentestimonial.jpeg);
  width: 450px;
  height: 450px;
  bottom: 35px;
  left: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}

.img-testimonial-back {
  background-image: url(../../images/imagentestimonial2.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 450px;
  position: relative;
  top: 40px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  text-align: justify;
}
.fa-quote-left {
  position: absolute;
  font-size: 8rem;
  margin-top: -18rem;
  margin-left: -3rem;
  opacity: 0.1;
}
.nombre-testimonial {
  line-height: 0.6rem;
  align-self: flex-start;
  justify-self: center;
  margin-top: 3.5rem;
}

.contenedor-nombre-avatar {
  display: flex;
  justify-content: space-around;
}
.img-avatar-testimonial {
  background-image: url(../../images/avatartestimonial.png);
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
