
.container-editar {
  display: flex;
  margin: 3% auto 15%;
  justify-content: center;
  column-gap: 3rem;
}
.container-avatar {
  background-color: rgb(201, 201, 201);
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  border: solid 1px rgb(167, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9c9c9c;
}
.container-editar form {
  margin: 0;
  width: 550px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-style: solid;
  border-color: rgb(213, 213, 213);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container-editar form h1 {
  color: rgb(160, 160, 160);
  font-size: 2.5rem;
  padding: 0;
  margin: 0 auto 2.2rem;
  font-weight: 600;
}

.container-izquierdo {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  color: rgb(177, 177, 177);
}
.container-derecho {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  color: rgb(177, 177, 177);
}

.campos-izquierdo-derecho {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
}
.container-editar input[type='text'],
input[type='password'],
input[type='email'] {
  width: 250px;
  border-radius: 0.3rem;
  padding: 12px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.container-editar form input[type='email']:before {
  width: 250px;
  border-radius: 0.3rem;
  padding: 12px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.container-editar input[type='submit'] {
  background-color: #3f6ee3;
  color: white;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: auto;
  border-radius: 0.3rem;
  padding: 12px 10px;
  display: block;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.biografia {
  font-family: 'Raleway', sans-serif;
  width: 250px;
  height: 120px;
  padding: 12px 10px;
  border-radius: 0.3rem;
  box-sizing: border-box;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  resize: none;
  font-size: 1.5rem;
}

.container-editar button {
  float: right;
  background-color: #d13519;
  border-radius: 0.3rem;
  color: white;
  padding: 12px 10px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

.container-editar button:hover {
  opacity: 0.8;
}

.temporal {
  font-size: 2rem;
  color: black;
  background-color: chartreuse;
  position: absolute;
}

/*ALERTAS*/
.container-alerta-editar-estudiante {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  top: 16.1%;
  left: 48%;
  text-align: center;
  background-color: #e77f84;
  position: absolute;
  border-radius: 2px;
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  opacity: 0.8;
  width: 300px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.container-alerta-editar-estudiante-ok {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  top: 16.1%;
  left: 48%;
  text-align: center;
  background-color: #1bb95d;
  position: absolute;
  border-radius: 2px;
  animation: fadeIn 0.5s;
  width: 300px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.container-editar button {
  background-color: #d13519;
  color: white;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: auto;
  border-radius: 0.3rem;
  padding: 12px 10px;
  display: block;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.si-no {
  display: flex;
  column-gap: 1rem;
}
.si {
  background-color: #f55454;
  color: white;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: auto;
  border-radius: 0.3rem;
  padding: 8px 10px;
  display: block;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.no {
  background-color: #0f6ad7;
  color: white;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: auto;
  border-radius: 0.3rem;
  padding: 8px 10px;
  display: block;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.fa-exclamation-triangle {
  margin-top: -2rem;
  font-size: 5rem;
  color: #f55454;
}
