.container-registro input[type='text'],
input[type='email'] {
  width: 350px;
  border-radius: 0.3rem;
  padding: 12px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.container-registro input[type='password'] {
  width: 350px;
  border-radius: 0.3rem;
  padding: 12px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.container-registro button {
  background-color: #3f6ee3;
  border-radius: 0.3rem;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.boton-crear-cuenta:disabled {
  opacity: 0.4;
}

.container-registro {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  margin: 5% auto 20%;
  width: 600px;
  height: 400px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  text-align: center;
}

.container-registro form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

form h2 {
  margin: 10px auto;
}

.font-user {
  position: relative;
}

.font-user i {
  position: absolute;
  left: 15px;
  top: 22px;
  color: rgb(180, 180, 180);
}
.font-mail {
  position: relative;
}

.font-email i {
  position: absolute;
  left: 15px;
  top: 22px;
  color: rgb(180, 180, 180);
}

.font-password {
  position: relative;
}

.font-password i {
  position: absolute;
  left: 15px;
  top: 22px;
  color: rgb(180, 180, 180);
}

.titulo-form-crear {
  font-family: var(--fontTexto);
  color: var(--grisOscuro);
  margin-bottom: 0.7rem;
  font-weight: 700;
  text-align: center;
}

.boton-crear-cuenta {
  font-size: 1.5rem;
}

.contraseña-olvidada {
  text-align: right;
  font-size: 1.3rem;
  color: rgb(137, 137, 137);
}

.acepto-terminos {
  text-align: left;
  display: inline-block;
  font-size: 1rem;
  color: rgb(137, 137, 137);
}

.contraseña-terminos {
  display: flex;
  justify-content: space-around;
}
.registrado-iniciarsesion {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  color: rgb(137, 137, 137);
}

.link-iniciarsesion {
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(137, 137, 137);
}

.checkbox-link {
  align-self: center;
  font-size: 1.3rem;
  margin-left: -15px;
  color: rgb(137, 137, 137);
}

.container-alerta {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  top: 18%;
  left: 40.5%;
  text-align: center;
  background-color: #e77f84;
  position: absolute;
  border-radius: 2px;
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  opacity: 0.8;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.fa-window-close::before {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10%;
  left: 94%;
}
