.pagina-sertutor {
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 30%;
  display: flex;
  flex-direction: column;
}
.pagina-sertutor form {
  width: 800px;
  padding: 12px;
  margin: 0 auto;
}
.pagina-sertutor h1 {
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
}
.pagina-sertutor p {
  width: 40%;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto 1rem;
}
.pagina-sertutor img {
  max-width: 100%;
  border-radius: 0.5rem;
  margin: 3% auto 3%;
  transform: scale(1.15);
}
.pagina-sertutor legend {
  display: contents;
}

.datos-personales {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  border-style: none;
  margin-bottom: 2rem;
  padding: 3rem 1rem 3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.datos-personales label {
  font-size: 1.5rem;
  margin-top: 5px;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.datos-personales-blocks {
  display: flex;
  padding: 0;
  margin-top: 2rem;
  justify-content: center;
  align-self: center;
  column-gap: 5%;
}

.form-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;
}
.form-1 input {
  width: 350px;
  display: block;
  border-radius: 0.3rem;
  height: 42px;
  margin: 8px 0;
  border: 1px solid #ccc;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  box-sizing: border-box;
}
.form-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  column-gap: 2%;
}
.pais label {
  margin-bottom: 2rem;
}

.form-2 input {
  width: 100%;
  height: 42px;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}
.form-biografia {
  height: 70px;
  width: 94%;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1.8rem;
}

.label-pais {
  margin-bottom: 8px;
}
.pais {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  height: 42px;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.categorias-tutor {
  display: flex;
  flex-direction: column;
}
.categorias-sub-tutor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
  column-gap: 12px;
  margin-top: 1rem;
}

.perfil-tutor {
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 12px;
  border-radius: 0.5rem;
  border-style: none;
  margin-bottom: 2rem;
  padding: 3rem 1rem 3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.perfil-tutor-block {
  display: flex;
  justify-content: center;
  padding-left: 19px;
  align-self: center;
  flex-direction: column;
  width: 98%;
  line-height: 2rem;
}

.precio-tutor {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.perfil-tutor label,
span {
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 0;
}

.documentos {
  display: flex;
  justify-content: left;
  align-self: center;
  flex-direction: column;
  row-gap: 12px;
  width: 95%;
  line-height: 3rem;
}
.negrita {
  font-weight: 600;
  font-style: oblique;
}

.boton-buscar {
  background-color: #6bbcff;
  border-radius: 0.3rem;
  border: none;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  display: inline-block;
  font-size: 1.3rem;
  cursor: pointer;
  width: 23%;
}
.boton-enviar {
  background-color: #4caf50;
  border-radius: 0.3rem;
  border: none;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  align-self: center;
  margin-top: 2rem;
}
