.pagina-tutores {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}
.contenido-tutores {
  width: 850px;
  list-style: none;
  margin: 0 auto 20% auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.entrada-tutor {
  background-color: #0f6ad7;
  border: 1px solid #ccc;
  list-style: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  margin: 0 auto 1rem auto;
  height: 280px;
  width: 100%;
  display: flex;
  align-self: center;
  column-gap: 15px;
  justify-content: space-between;
}

.info-tutor {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.imagen-tutor {
  border: 1px solid #ccc;
  width: 40%;
  overflow: hidden;
  object-fit: contain;

  /*height: fit-content;*/
}

.tags-tutor {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 2px;
}

.blocks {
  color: rgb(119, 119, 119);
  font-size: 1.5rem;
  background-color: rgb(224, 224, 224);
  border-radius: 2px;
  height: 25px;
  width: 85px;
  text-align: center;
  padding-top: 0.5rem;
}

.nombre-tutor {
  color: rgb(236, 236, 236);
  font-size: 2rem;
  align-self: flex-start;
}
.profesion-tutor {
  color: rgb(236, 236, 236);
  font-size: 1.5rem;
  margin-bottom: 12px;
}
.valoracion-tutor {
  font-size: 1.2rem;
  align-self: flex-start;
  margin-bottom: 12px;
}

.fa-star {
  color: rgb(248, 203, 1);
}

.bio {
  color: rgb(228, 228, 228);
  font-size: 1.5rem;
  width: 90%;
  justify-self: center;
  margin-top: 8%;

  border-radius: 6px;
}

/*Filtros Top*/
.tutor-filtros-top {
  width: 1050px;
  height: 50px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #0f6ad7;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  display: flex;
}
.tutor-ordenar-por {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(61, 61, 61);
}
.tutor-ordenar-por select {
  border-radius: 6px;
  height: 30px;
}
.tutor-ordenar-por p {
  display: inline-block;
  text-align: left;
  margin-right: 1rem;
  margin-left: 1rem;
  color: rgb(240, 240, 240);
  align-self: flex-start;
  border-style: none;
  font-size: 1.5rem;
}

/*TUTO LANDING*/

.entrada-tutor-landing {
  background-color: black;
  list-style: none;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.imagen-tutor-landing img {
  mask-image: linear-gradient(to top, transparent 0, 11%, black 50%);
  width: 280px;
  height: 400px;
  object-fit: cover;
}

.info-tutor-landing {
  font-size: 1.6rem;
  position: absolute;
  bottom: 2px;
  left: 20px;
  color: white;
  margin: 0;
  line-height: 2.4rem;
  letter-spacing: 1px;
}

/*VENTANA TUTOR*/

.contenedor-tutor-info {
  width: 900px;
  margin: 2% auto 20%;
  background-color: #0f6ad7;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
}

.contenedor-izquierdo-tutor-info {
  background-color: #0f6ad7;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 675px;
}
.contenedor-izquierdo-tutor-info iframe {
  background-color: white;
  height: 360px;
  margin: 2.5rem 0 2.5rem 2.5rem;
  border: 2px solid white;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.info-tutor-info {
  margin: 1rem auto auto 2.5rem;
  width: 85%;

  display: flex;
  align-items: center;
}
.imagen-tutor-info img {
  background-color: white;
  align-self: center;
  width: 75%;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.datos-tutor-info {
  display: flex;
  flex-direction: column;
}
.nombre-tutor-info {
  color: rgb(236, 236, 236);
  font-size: 2rem;
  align-self: flex-start;
}
.profesion-tutor-info {
  color: rgb(236, 236, 236);
  font-size: 1.5rem;
  margin-bottom: 12px;
}
.bio-info {
  color: rgb(236, 236, 236);
  width: 85%;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 1rem auto auto 3rem;
}

.bio-agenda {
  color: rgb(100, 100, 100);
  width: 90%;
  display: flex;
  margin: 0 auto auto 4%;
  flex-direction: column;
}
.bio-agenda h1 {
  font-size: 1.8rem;
  color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
}

.contenedor-derecho-tutor-info {
  display: flex;
  flex-direction: column;
}

.dias-info-tutor {
  padding: 1rem;
  margin: 0 auto 8%;
  width: 100%;
  border: 3px solid white;
  column-gap: 3rem;
  row-gap: 10px;
  display: flex;
}

.dia-individual {
  text-align: center;
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80px;
  padding: 1rem;
  border-style: double;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}

.contenedor-derecho-tutor-info {
  margin: 2rem;
}

.clases-prueba {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 180px;
  margin-top: 4%;
  margin-bottom: 6%;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.clases-prueba h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}

.clase-prueba-gratis {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem 0 1.5rem;
}

.clases-particulares {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 270px;
  margin-top: 4%;
  margin-bottom: 6%;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.boton-reserva-gratis {
  color: white;
  font-size: 1.5rem;
  display: block;
  background-color: #7a49a5;
  text-align: center;
  border-radius: 12px;
  width: 100px;
  padding: 8px;
  border-radius: 6px;
  margin: 1.2rem auto 1rem auto;
}

.clases-particulares h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}
